<style>
    .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #f3f4f4;
    color: #007ac1;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 19px;
  }

</style>
<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img width="40" src="https://www.clipartkey.com/mpngs/m/273-2737645_patient-clipart-icu-clipart-icu-clip-art.png" />
    <span>Hospital "Los Ángeles"</span>
    <div class="spacer"></div>
  <div class="spacer"></div>
